node_modules
# Supabase
.branches
.temp
.env
.env.local
config.toml
.next

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo
tsconfig.tsbuildinfo
.next/app-build-manifest.json
.next/build-manifest.json
.next/trace
.next/server/app-paths-manifest.json
